<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenhua.tcpservice.mapper.EnvMapper">

    <!-- 查询设备 -->
    <select id="selectDevice" resultType="com.wenhua.tcpservice.pojo.dev.Device">
        SELECT
        *
        FROM
        /* 从设备表 */
        device
        WHERE
        1=1

        /* 指定查询条件(对应字段必须包含相关字符串) */
        <if test="match != null and match != ''">
            AND (
            id LIKE CONCAT('%', #{match}, '%')
            OR name LIKE CONCAT('%', #{match}, '%')
            OR ip LIKE CONCAT('%', #{match}, '%')
            OR deviceType LIKE CONCAT('%', #{match}, '%')
            OR temperature LIKE CONCAT('%', #{match}, '%')
            OR humidity LIKE CONCAT('%', #{match}, '%')
            OR lightIntensity LIKE CONCAT('%', #{match}, '%')
            )
        </if>

        /* 指定排序方式 */
        ORDER BY
        <choose>
            <when test="sort == 'desc'">
                -- 假设按id降序排序，根据实际情况选择字段
                id DESC
            </when>
            <otherwise>
                -- 默认升序排序
                id ASC
            </otherwise>
        </choose>

        /* 指定分页 */
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 查询符合条件的设备数量 -->
    <select id="selectDeviceCount" resultType="int">
        SELECT
        COUNT(*)
        FROM
        device
        WHERE
        1=1

        <!-- 指定查询条件(对应字段必须包含相关字符串) -->
        <if test="match != null and match != ''">
            AND (
            id LIKE CONCAT('%', #{match}, '%')
            OR name LIKE CONCAT('%', #{match}, '%')
            OR ip LIKE CONCAT('%', #{match}, '%')
            OR deviceType LIKE CONCAT('%', #{match}, '%')
            OR temperature LIKE CONCAT('%', #{match}, '%')
            OR humidity LIKE CONCAT('%', #{match}, '%')
            OR lightIntensity LIKE CONCAT('%', #{match}, '%')
            )
        </if>
    </select>
</mapper>
